.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  h3{
    color: #000;
  }
  
  .innerform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 513px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .left-section {
    margin-top: 50px;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .right-section {
    margin-top: 20px;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    margin-top: 30px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0B4266; 
    border: none;
    cursor: pointer;
    color: #ffffff; 
  }
  label{
    color: #000000;
    font-family: poppins;
    font-weight: bold;
  }
  input {  
    margin-top: 20px;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    width: 343px;
    box-sizing: border-box;
  }
  
.left-section img {
    display: flex;
    width: 328px;
    padding: 89.7px 24.521px 43.76px 24.167px;
    justify-content: center;
    align-items: center;
}
.right-section img {
  margin-top: 5px;
  display: flex;
  width: 150px;
  height: 70px;
}
.left-text{
  width: 300px;
  margin-left: 30px;
  color: #041724;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
text{
  margin-bottom: 10px;
  color: #bcd0de;
  font-family: poppins;
  font-size: medium;
  font-weight: bold;
}

.forget{
    margin-top: 20px;
    width: 100%;
    text-align: right;
    color:#0B4266;
    font-weight: bold;
 } 
 .redirect{
    margin-top: 20px;
    width: 100%;
    text-align: center; 
    font-weight: bold;
 }
#fp{
  text-decoration: none;
 }
.layout{
 margin-top: 20px;
 margin-bottom: 10px;
}

.icon {
  position: relative;
  left: -330px; 
  top: 50%;
  color: #000000; 

}

.icon-eye {
  margin-top: -40px;
  position: relative;
  right: -630px; 
  color: #000000;
}

.right-section input::placeholder {
  color: rgba(4, 23, 36, 0.50); 
  gap: 20px;
  padding-left: 10px;
}
.error{
color: red;
}

